<section class="footer-banner">
  <div class="footer-banner__inner">
    {% for block in section.blocks %}
    <div class="footer-banner__item">
      <div class="footer-banner__item-svg">
        {{ block.settings.svg }}         
      </div>
      <div class="footer-banner__item-copy">
        <p>{{ block.settings.copy }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__menu">
      <ul>
        {% for link in linklists.footer.links %}
          <a href="{{ link.url }}"><li>{{ link.title }}</li></a>
        {% endfor %}
      </ul>
    </div>

    <div class="footer__copyright">
      <p>© {{ "now" | date: "%Y"}} Camden Town Brewery Ltd. All rights reserved</p>
    </div>
  </div>

</footer>



{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "banner-items",
      "name": "Banner Item",
      "settings": [
        {
          "type": "textarea",
          "id": "svg", 
          "label": "svg code"
        },
        {
          "type": "text",
          "id": "copy",   
          "label": "Copy"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "banner-items"
      }
    ]
  }
}
{% endschema %}
